body {
    background: #09f;
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;;
}

.card {
    margin-top: 3rem;
}

.card input {
    margin-bottom: 1rem;
}

.card p {
    margin-bottom: 1.5rem;
}

.card h3 {
    text-align: center;
}

#historial {
    position: relative;
    top: -5.8rem;
    margin-bottom: 2rem;
}

#historial p {
    margin-bottom: 5px;
}

#historial .card-header {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.image #github {
  width: 50px;
  transition: transform 0.2s ease-in-out;
}

.image #github:hover {
  transform: scale(1.1);
  cursor: pointer;
}

@media (max-width: 991px) {
    .card {
        margin-top: 2rem;
    }
    #historial {
        top: 0;
    }
}

@media (max-width: 991px) {
    #historial {
        position: relative;
        bottom: 0;
    }
}